# ================
# Backend
# ================

# Python
*/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
backend/venv/
backend/env/

# Environment variables
.env
backend/.env

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
/staticfiles
/media

# VSCode
.vscode/

# Tests
**/tests/


