# ================
# Backend
# ================

# Python
*/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
backend/venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
/staticfiles
/media

# VSCode
.vscode/